<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li><router-link to="/foo">Go to Foo                                                                                                                            </router-link></li> 
            <li><router-link to="/bar">Go to Bar</router-link></li> 
            <li><router-link to="/about">Go to about</router-link></li>
            <li><router-link to="/home">Go to home</router-link></li> 
            <li><router-link to="/form">Go to Form</router-link></li> 

        </ul>
      </div>
    </nav>
    <router-view></router-view>
    <footer></footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    // Components
    const Foo = { template: '<div  class="full-screen">foo</div>' }
    const Bar = { template: '<div class="full-screen" >bar</div>' }
    const Home = { template: '<div class="full-screen">home</div>' }

    var About = {
      template: `<div class="full-screen bg-2">
        <h2>Página Nosotros</h2>
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>     
        <button v-on:click="greet">Greet</button>
      </div>`,
      data: function () {
        return {
          message: message
        }
      },
      methods: {
        greet: function (event) {
          alert(this.message)
          console.log(this.message);
        }
      }
    }

    var Sexto = {
      template: `<div class="full-screen bg-5">
          <section id="form" class="section">
              <form>
                <h1 class="title is-1">
                  {{form.formName}}
                </h1>
            
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input class="input" type="text" v-model="form.userName" />
                  </div>
                </div>
            
                <div class="field">
                  <label class="label">Favorite Color</label>
                  <div class="control">
                    <div class="select">
                      <select v-model="form.favoriteColor">
                        <option v-for="color in ['Red', 'Blue', 'Green']" :value="color">
                          {{color}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
            
                <div class="field">
                  <label class="label">Favorite Hamburger Place</label>
                  <div class="control">
                    <label>
                      <input type="radio" value="whataburger" v-model="form.favoriteHamburger" />
                      Whataburger
                    </label>
                    <br>
                    <label>
                      <input type="radio" value="pterrys" v-model="form.favoriteHamburger" />
                      P.Terry's
                    </label>
                    <br>
                    <label>
                      <input type="radio" value="hopdoddy" v-model="form.favoriteHamburger" />
                      Hopdoddy
                    </label>
                  </div>
                </div>
            
                <div class="field">
                  <label class="label">Favorite Hangout</label>
                  <div class="control">
                    <label>
                      <input type="checkbox" value="zilker-park" v-model="form.favoriteHangout" />
                      Zilker Park
                    </label>
                    <br>
                    <label>
                      <input type="checkbox" value="sixth-stree" v-model="form.favoriteHangout" />
                      Sixth Street
                    </label>
                  </div>
                </div>
            
                <div class="field">
                  <label class="label">How many hours a week do you work?</label>
                  <div class="control">
                    <h4 class="title is-4">
                      {{form.workHours}} / 80
                    </h4>
                    <input type="range" min="0" max="80" v-model="form.workHours"/>
                  </div>
                </div>
            
                <input class="button is-primary margin-bottom" type="submit" @click.prevent="postPost" />
            
              </form>
              
            

                <article class="message is-primary" v-show="showSubmitFeedback">
                  <div class="message-header">
                    <p>Fake Send Status:</p>
                  </div>
                  <div class="message-body">
                    Successfully Submitted!
                  </div>
                </article>
              
              <hr>
              
              <h5>
                JSON
              </h5>
              <pre><code>{{form}}</code></pre>
            </section>
      </div>`,
      data: function () {
        return {
          form: {
            formName: 'Tell Us About Yourself',
            userName: '',
            favoriteColor: 'Red',
            favoriteHamburger: '',
            favoriteHangout: [],
            workHours: 0
          },
          showSubmitFeedback: false
        }
      },
      methods: {
        fakeSubmit() {
          this.showSubmitFeedback = true;
          console.log(this.$data.form.formName)
          setTimeout(() => {
            this.showSubmitFeedback = false;
          }, 3000);
        },
        postPost: function () {
          axios.post(`https://jsonplaceholder.typicode.com/todos`, {
            body: this.postBody
          })
            .then(response => { console.log('yes') })
            .catch(e => {
              this.errors.push(e)
            })
        }
      }
    }









    // Routes
    const routes = [
      { path: '/foo', component: Foo },
      { path: '/bar', component: Bar },
      { path: '/home', component: Home },
      { path: '/about', component: About },
      { path: '/form', component: Sexto },
    ]

    const router = new VueRouter({
      routes // short for `routes: routes`
    })


    // Vue initialization
    const app = new Vue({
      router
    }).$mount('#app')

    // data key initialization
    var message;
    var message1;
    var color;
    var messages;
    var msg;
  </script>
</body>

</html>