*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
pre {
  margin: 0;
}
.full-screen {
  margin-top: 66px;
  min-height: calc( 100vh - 116px);
  background: palevioletred;
}
.navbar-brand {
  height: 50px;
  background: palegoldenrod;
}

footer {
  height: 50px;
  background: palegreen;
}